*{
    margin: 0px;
    padding: 0px;

}


.header{
    text-align: center;
    color: white;
    height: 100px;
    background: rgb(161, 56, 253) ;
    display: flex;
    justify-content: space-between;
}
.h-l{
    margin-top: 25px;
    margin-left: 100px;
}

.h-r ul{
    margin-top: 30px;
    font-size: 20px;
    margin-right: 100px;
    gap: 50px;
    display: flex;
    list-style: none;
}
#theone{
    height: 25px;
    border-bottom: 2px blue solid;
}


.main{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}
.main-l {
  
    
}
.main-l h1{
    font-size: 50px;
}
.main-l p{
    width: 500px;
    color: grey;
    margin-top: 50px;
    font-size: 20px;
}
.main-l button{
    font-size: 15px;
    margin-top: 50px;
    height: 40px;
    width: 120px;
    background-color: orange;
    border: none;
    border-radius: 8px;
}


.main-r img{
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.box{
    position: absolute;
    background-color: red;
    width: 150px;
    height: 120px;
    border-radius: 10px;
    top: 500px;
    left: 750px;
}
.box-2{
    position: absolute;
    background-color: rgb(42, 219, 42);
    width: 125px;
    height: 125px;
    border-radius: 50%;
    right: 50px;
    top: 300px;
}
.footer{
    padding-top: 50px;
    height: 150px;
    margin-top: 100px;
    background-color: rgb(161, 56, 253);
}
.footer ul{
    font-size: 45px;
    justify-content: center;
    display: flex;
    list-style: none;
    gap: 50px;
}

#footerr{
    font-size: 20px;
    margin-top: 30px;
    margin-left: 620px;
    color: blue;
}